body{
    background-color: #3F4045;
}

#vending-machine{
    background-color: #355691;
}
.button-title {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button-title {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #b5bac6;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button-title:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  .btn-96,
  .btn-96 *,
  .btn-96 :after,
  .btn-96 :before,
  .btn-96:after,
  .btn-96:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  
  .btn-96 {
    background-image: linear-gradient(0deg, #393939, #000000);
    color: #fff;
    cursor: pointer;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#212121, #fff);
    mask-image: radial-gradient(#212121, #fff);
    padding: 0;
  }
  
  .btn-96 {
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    font-weight: 900;
    padding: 2rem 5rem;
    perspective: 800px;
    text-transform: uppercase;
  }
  
  .btn-96 span {
    background: #fff;
    color: #212121;
    display: grid;
    inset: 0;
    place-items: center;
    position: absolute;
    transform: rotateZ(0deg);
    transform-origin: top center;
    transition: 1.2s;
  }
  
  .btn-96:hover span {
    transform: rotateX(70deg)
  }
  
  .btn-96:after,
  .btn-96:before {
    border-radius: 5px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateX(90deg);
    width: 100%;
    z-index: -1;
  }


.button-select {
  color: #090909;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}

.button-select:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.panel{
  font-family: "Courier New", monospace;
  font-size: 0.5rem;
  font-weight: bold;
}

